{% extends 'core/base.html' %}

{% block content %}
<div class="container" id="delete-category">
    <h1 class="title">Category | {{category.title}} [[ message ]]</h1>
    <a @click="toggleDialog({{ category.id }})">DELETE CATEGORY</a>
    </br>
    <a href="{% url 'bookmark_add' category.id %}">Add Bookmark --></a>
    <p class="subtitle">{{category.description}}</p>

    <div class="columns is-multiline">
        {% for bookmark in category.bookmarks.all %}
            <div class="column is-3">
                <div class="card card-link">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <a href="{{ bookmark.url }}"><p class="title is-4">{{ bookmark.title }}</p></a>
                            </div>
                        </div>

                        <div class="content">
                            {{ bookmark.description|truncatechars:50 }}
                        </div>
                    </div>

                    <footer class="card-footer">
                        <a href="{{ bookmark.url }}" class="card-footer-item" target="_blank">Watch</a>
                        <a href="{% url 'bookmark_edit' category.id bookmark.id %}" class="card-footer-item" target="_blank">Edit</a>
                        <a class="card-footer-item" @click="toggleBookmarkDialog({{bookmark.id}})">Delete</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal" v-bind:class="{ 'is-active': showDialog }">
        <div class="modal-background"></div>

        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Are you sure?</p>
                <button class="delete" aria-label="close" @click="showDialog = !showDialog"></button>
            </header>

            <section class="modal-card-body">
                If you delete this category, all bookmarks belonging to it will be deleted as well!
            </section>

            <footer class="modal-card-foot">
                <button class="button is-success" @click="deleteCategory()">Yes, delete</button>
                <button class="button" @click="showDialog = !showDialog">Cancel</button>
            </footer>
        </div>
    </div>

    <div class="modal" v-bind:class="{ 'is-active': showBookmarkDialog }">
        <div class="modal-background"></div>

        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Are you sure?</p>
                <button class="delete" aria-label="close" @click="showBookmarkDialog = !showBookmarkDialog"></button>
            </header>

            <section class="modal-card-body">
                Are you sure you want to delete the bookmark?
            </section>

            <footer class="modal-card-foot">
                <button class="button is-success" @click="deleteBookmark()">Yes, delete</button>
                <button class="button" @click="showBookmarkDialog = !showBookmarkDialog">Cancel</button>
            </footer>
        </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        new Vue({
            el: '#delete-category',
            delimiters: ['[[', ']]'],
            data () {
                return {
                    showDialog: false,
                    category_id: 0,
                    bookmark_id: 0,
                    showBookmarkDialog: false,
                    bookmarks: [
                        {{ bookmarksstring|safe }}
                    ]
                }
            },
            methods: {
                toggleDialog(id) {
                    this.category_id = id
                    this.showDialog = true
                },
                toggleBookmarkDialog(id) {
                    this.bookmark_id = id
                    this.showBookmarkDialog = true
                },
                deleteCategory() {
                    axios.post('/app/api/delete_category/' + this.category_id + '/')
                        .then((response) => {
                            console.log(response)

                            this.showDialog = false

                            window.location.href = '/app/categories/'
                        })
                        .catch((function (error) {
                            console.log(error)
                        }))
                },
                deleteBookmark() {
                    axios.post('/app/api/delete_bookmark/' + this.bookmark_id + '/')
                        .then((response) => {
                            console.log(response)

                            this.showBookmarkDialog = false
                            this.bookmarks = this.bookmarks.filter(bookmark => bookmark.id !== this.bookmark_id)
                        })
                        .catch((function (error) {
                            console.log(error)
                        }))
                },
            }
        })
    </script>
{% endblock %}